/* Hide Radio button */
.rate > input{
    display: none;
  }
  
  .rate{
    display: inline-block;;
    border: 0;
  }
  
  .rate > label{
    float: right;
  }
  
  /* Showing the stars */
  .rate > label:before{
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin:0;
    padding:0.3rem .2rem;
    cursor: pointer;
  }

  /* Half star */
.rate .half:before{
  content: "\f089";
  position: absolute;
  padding-right: 0;
}

/* Click and hover */
input:checked ~ label, label:hover ~ label{
  color: #ffb503;
}

/* hover hightlight */
input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
  color: #cc9000;
}

.ratting-star i{
  color:#ffb503 !important;
}

ul.thumb{
  margin: 0 auto;
  padding: 0;
  float: left;
}
ul.thumb li{
  list-style: none;
  margin: 10px;
}

ul.thumb li img{
  width: 80px;
  height: 80px;
  border: 1px solid grey;
}

.btn-primary {
  background-color: #fc7618 !important;
  border: 1px solid #fc7618;
  color: white !important;
}

.btn-primary :hover{
  background-color:#fc7618 !important;
  border: 1px solid #fc7618 !important;
}

.btn-outline-primary {
  color: #fc7618;
  border-color: #fc7618;
}

.widget-header i {
  color: white;
}

.icon-sm {
  background-color: #fc7618;
}

a {
  color: #fc7618 !important;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff !important;
  background-color: #fc7618;
  border-color: #fc7618;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #fc7618;
  border-color: #fc7618;
}